@import url('https://rsms.me/inter/inter.css');
html,body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html,body { font-family: 'Inter var', sans-serif; }
}


/*
Colors:
    - primary: #38353d
    - secondary: #fbf8ff
    - random: #9e7fe7
*/
a {
    color: #de3f54 !important;
}
a:hover {
    color: #FCFCFC !important
}
body, html {
    background: #1f1f1f;
    min-height: 100vh;
    height: 100%;
    color: #de3f54;
}
main.content {
    display: grid;
    text-align: center;
    justify-self: center;
}

.brand {
    margin-top: 35vh;
}

.brand .title {
    font-size: 4rem;
    font-weight: 900;
    color: #de3f54;
    margin-bottom: 1rem !important;
}

.brand .details {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #de3f54;
}

.brand .social {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.brand .social a {
    margin: 24px;
    margin-top: 0;
}

.svg-inline {
    width: 48px;
    height: 48px;
}